body{
        background-color: white;
        margin: auto;
        text-align:center; 
        font-size: 2em;
        line-height: 2;
        font-family:Georgia, 'Times New Roman', serif;
    }

.description{
    color:#11999E;
}
p{
    color:#40514E;
}
.header{
    text-align:center;
}

.top-container{
    background-color: #EAF6F6;
    display: block;
}

    .hoby{
        position: relative;
        left: 30%;
        text-align: left;
        margin: 0 auto 0 auto;
    }

    .my-name{
        font-size: 10rem;
        color: #66BFBF;
        font-family: 'Sacramento', cursive;
        position: relative;
        top: 50px; 
        width:100%;
        height: 100px;
    }

    .table2{
        position: relative;
        color: #40514E;
        left: 40%;
        text-align: left;
        margin: 0 auto 0 auto;
    }

    .table3{
        position: relative;
        color: #40514E;
        text-align: center;
        margin: 0 auto 0 auto;
    }

    /*.table4{
        position: relative;
        left: 40%;
        color: #40514E;
        text-align: left;
        margin: 0 auto 0 auto;
    }*/

hr{
        background-color: oldlace;
        border-style: none;
        border-top-style: dotted;
        border-color: #EAF6F6;
        border-width: 5px;
        height: 0px;
        width: 5%;
      }
h1{
    font-size: 2.5rem;
    color: #66BFBF;
    display: block;
}

h3{
    color:#49514E;
}

h2{
    color: #66BFBF;
}

h3:hover{
    color: gray;
}

h2:hover{
    color: gray;
}

a{
    text-shadow: block;
}

.circular{
    background-color: white;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.skill-row{
    text-align: left;
   width: 50%;
   margin: 100px auto 100px auto;
}
.circular1{
    background-color: white;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    float: right;
    margin: left;
}
/*.description1{
    clear:right;
}*/

.circular2{
    background-color: white;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    float: left;
    margin: right;
}

/*.description2{
    clear:left;
}*/

.pro{
    color: #66BFBF;
    font-family: 'Lucida', cursive;
    margin: 100px 500px 100px auto;
    position: relative;
    top: 50px;
    left: 180px; 
}

.front{
    display:inline-block;
    width: 100px;
    position:relative;
    left: 150px;
}

.cloud{
    position:relative;
    left: 150px;
    top: 300px;
    width: 300px;
    height: 96px;
}

.mountain{
    align-items: center;
    width: 1250px;
    height: 555.188px;
}

.sec-cloud{
    position: relative;
    right: 300px;
    bottom: 500px;
    width: 300px;
    height: 96px;
}

/*.greet{
    position: relative;
   left: 200px;
    bottom: 300px;
}*/

.container{
    background-color: skyblue;
    text-align: center;
    display: block;
    height: 5%;
    position:relative;width:100%;
    position: fixed;

}

a:hover{
    color: lightgreen;
}

a{
    color: #11999E;
    text-decoration: none;
}

/*.home{
    position: relative;
    left: 70%;
    width: 30%;
}
.hobbies{
    position: relative;
    left:75%;
    width: 30%;
}
.contact{
    position: relative;
    left:80%;
    width: 30%;
}*/

.btn {
    background: #9ed7fa;
    background-image: -webkit-linear-gradient(top, #9ed7fa, #3498db);
    background-image: -moz-linear-gradient(top, #9ed7fa, #3498db);
    background-image: -ms-linear-gradient(top, #9ed7fa, #3498db);
    background-image: -o-linear-gradient(top, #9ed7fa, #3498db);
    background-image: linear-gradient(to bottom, #9ed7fa, #3498db);
    border-radius: 15px;
    width: 40%;
    text-shadow: 0px 3px 0px #5547b8;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #b7dbf1;
    background-image: -webkit-linear-gradient(top, #b7dbf1, #2e2f30);
    background-image: -moz-linear-gradient(top, #b7dbf1, #2e2f30);
    background-image: -ms-linear-gradient(top, #b7dbf1, #2e2f30);
    background-image: -o-linear-gradient(top, #b7dbf1, #2e2f30);
    background-image: linear-gradient(to bottom, #b7dbf1, #2e2f30);
    text-decoration: none;
  }

  .copyright{
    color: #EAF6F6;
  }

  .bottom-container{
    display: block;
    background-color:#66BFBF ;
  }